configuration {
  font: "IBM Plex Sans medium 10";
  show-icons: true;
  monitor: -1;
  
  run {
    display-name: "  ";
  }

  drun {
    display-name: "  ";
  }
  
  window {
    display-name: "  ";
  }
  
  timeout {
    delay: 10;
    action: "kb-cancel";
  }
}

@theme "onedark"
